@import "tailwindcss";

@theme {
  --color-brand-bg: #e6b5c1;
  --color-brand-text: #6b5d4f;
  --color-brand-accent: #5b7a5e;
  --color-brand-paper: #f8f5f0;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: "Sawarabi Mincho", serif;
}
